*vscode*
**/*.code-workspace
.idea/
*.pyc
*.doc
*.docx
*.xls
*.png
*.pdf
*.emlk
*.emv
*.emw
*.ipynb
*.eml
*.emu
*.ema
*.emx
*.emp
*.ems
*.db
*.dat
*.prj
*.mtbx
*.mlbk
*.cpg
*.dbf
*.qpj
*.shp
*.shx
*.gfsum
*.old
*.log
*.log.*-*-*
usemacro_*
STRAT_*
config
Database/builddb
Database/core_interface_log
Database/errors
Database/fort.18
Database/emmebank
Database/reports
Database/usemacro_*
Database/STRAT_s21
Database/STRAT_s22
Database/STRAT_s23
Logbook/project.mlbk-shm
Logbook/project.mlbk-wal
Scenario_input_data/2016_full/*
Scenario_input_data/2030_full/*
Matrices/2016_full/*
Matrices/2016_test/*
Matrices/2030_full/*
Matrices/base_full/*
Scenario_input_data/2016_test/*
Scenario_input_data/2030_test/*
Matrices/2016_test/*
Matrices/2030_test/*
Matrices/base_test/*
Scripts/.pytest_cache
Scripts/tests/.pytest_cache
Scripts/.env
Results/*

Scripts/tests/test_data/Results/test/*
!Scripts/tests/test_data/Results/test/Matrices
