[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
rope = "*"

[packages]
pandas = "*"
openpyxl = "*"
openmatrix = "*"
numpy = "==1.13.3"
numexpr = "==2.6.4"
tables = "==3.4.2"

[requires]
python_version = "3.7"
